.skill{
    margin: 60px auto;
    color: white;
}
.skill li{
    margin: 5px 0;
    list-style: none;
}
.bar{
    background: #353b48;
    display: block;
    height: 8px;
    border: 1px solid rgba(85, 79, 79, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}
.bar span{
    height: 8px;
    float: left;
    background: #2187e7;
}

.react{
    width:80%;
    animation: react 8s;
}
@keyframes react {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.javaScript{
    width:80%;
    animation: javaScript 8s;
}
@keyframes javaScript {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.restApi{
    width:80%;
    animation: restApi 8s;
}

@keyframes restApi {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.mongoDb{
    width:70%;
    animation: mongoDb 8s;
}
@keyframes mongoDb {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.html{
    width:95%;
    animation: html 8s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}
.css{
    width:70%;
    animation: css 8s;
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.bootstrap{
    width:90%;
    animation: bootstrap 8s;
}
@keyframes bootstrap {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

.react-bootstrap{
    width:80%;
    animation: r-bootstrap 8s;
}
@keyframes r-bootstrap {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.node{
    width:70%;
    animation: node 8s;
}
@keyframes node {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
.sass{
    width:60%;
    animation: sass 8s;
}
@keyframes sass {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}