.hobby{
    padding: 5px;
    border-radius: 5px;
    background-color:#F9FAFD;
    transition: .3s;
}
.hobby:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(194, 181, 181, 0.19);
}
.hobby-text{
    margin-top: 22px;
    padding: 5px;
    width: 300px;
    border-bottom: 2px solid #2187e7;
    margin-bottom: -35px;
}